
.section1_wrapperleft {
    Height: 1077px;
    
    background-color: #FFFFFF;
}


/* Style for menu container */
#menu-container .menu-item {
    cursor: pointer;
    position: relative;
}
.menu-item {
    margin-top: 40px;
    margin-left: 10px;
}
#menu-container {
    list-style-type: none;
    padding: 0;
  }
  
  #menu-container .menu-item {
  
    cursor: pointer;
    position: relative;
  }
  
  #menu-container img {
    width: 25px;
    height: 25px;
  }
  #item1>img {
    margin-left: 30px;
    width: 60px;
    height: 40px;
}
  
  /* Style for child container */
  .child-container {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    display: none; /* Hidden by default */
  }
  

.child-container{
    list-style-type: none;
    margin-left: 20px;
    display: none;
    padding: 0px;
}
.visible{
    display: block;

}